<div class="container">
  <div class="top">
    <div class="option">
      <h4>Help Center</h4>
      <p>How to shop in express mall?</p>
      <p>How to place and cancel an order in express mall?</p>
      <p>Refunds in express mall</p>
      <p>Coupons in expess mall</p>
    </div>
    <div class="option">
      <h4>About Us</h4>
      <p>Main branch: Nairobi</p>
      <p>Pick up points: All over the country</p>
      <p>Telephone: 0783948763</p>
      <p>Email: admin@express.com</p>
      <p>P.O Box: 746-30100</p>
    </div>
    <div class="option">
      <h4>Join Us</h4>
      <p>express mall</p>
      <p>express_mall</p>
      <p>express_mall</p>
    </div>
  </div>
  <div class="bottom">
    <h3>Payment method</h3>
    <div class="payment">
      <div class="mpesa">
      <p>M-Pesa</p>
    </div>
    <div class="paypal">
      <p>Paypal</p>
    </div>
    <div class="visa">
      <p>Visa</p>
    </div>
    </div>
  </div>
</div>
