<div class="container">
  <div class="top">
    <div class="images">
      <div class="image">
        <img class="img" [src]="[product.image]" alt="image">
      </div>
      <div class="thumbnails">
        <img class="thumbnail" [src]="[product.thumbnail_1]" alt="i">
        <img class="thumbnail" [src]="[product.thumbnail_2]" alt="i">
        <img class="thumbnail" [src]="[product.thumbnail_3]" alt="i">
      </div>
    </div>
    <div class="data">
      <h3>{{product.name}}</h3>
      <p>Brand: {{product.brand}}</p>
      <p>Price: {{product.price}}</p>
      <button (click)="addtocart(product.product_id)">Add to cart</button>
    </div>
  </div>
    <div class="description">
    <h2>description</h2>
    <hr>
    <p>{{product.description}}</p>
    </div>

    <div class="specification">
      <h2>Specification</h2>
      <hr>
     <p>{{product.specification}}</p>
    </div>
</div>
