<div class="container">
  <form class="form" #form="ngForm" (ngSubmit)="login()">
    <h1>Sign In</h1>
    <hr>
    <div class="input">
      <div class="error" *ngIf="email.invalid && email.touched">
        <span>*please enter email</span>
      </div>
      <input placeholder="email" type="email" ngModel name="email" #email="ngModel" required>
    </div>
    <div class="input">
      <div class="error" *ngIf="password.invalid && password.touched">
        <span>*please enter password</span>
      </div>
      <input placeholder="password" type="password" ngModel name="password" #password="ngModel" required>
    </div>
    <button type="submit" [disabled]="form.invalid">Sign In</button>
    <p>Are you new to express? <a routerLink="/register">Create account</a></p>
  </form>
</div>
