<div class="container">
  <div class="logo">
    <span class="name">Express Mall</span><br>
    <span class="motto">Efficient online shopping</span>
  </div>
  <div class="search">
    <input type ='text' placeholder="search by product name...">
    <button type="button">Search</button>
  </div>
  <div class="right">
    <button type="button" (click)="home()">Home</button>
    <button type="button" (click)="login()">Log in</button>
    <button type="button" (click)="mycart()">My Cart</button>
    <button type="button" (click)="help()">Help?</button>
</div>
</div>
